<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "SimpleTest suite name" verbose="2" parallel="methods" thread-count="10">
    <test name = "SimpleTest test name">

        <classes>
<!--            <class name = "ua.ithillel.testng.GroupTest"/>-->
<!--            <class name = "ua.ithillel.testng.FirstTest"/>-->
<!--            <class name = "ua.ithillel.testng.SeleniumTest"/>-->
<!--            <class name = "ua.ithillel.testng.GroupTest"/>-->
        </classes>

    </test>
</suite>
